<div class="container">
    <h4 class="display-5">Edit your profile</h4>
<form action="/profile/edit" method="post">
<br><br>
 <div class="input-group mb-3 input-group">
     <label for="name">HomeTown      </label>
    <input type="text" class="form-control mw-25" style="max-width: 60%;" id="name" name="hometown" value="{{hometown}}">
  </div>
<div class="input-group mb-3 input-group">
<label for="name" style="width:-20px;white-space:pre">School        </label>
    <input type="text" class="form-control mw-25" style="max-width: 60%;" id="name" name="school" value="{{school}}">
  </div>
  <div class="input-group mb-3 input-group">
     <label for="name" style="width:-20px;white-space:pre">religion       </label>
    <input type="text" class="form-control mw-25" style="max-width: 60%;" id="name" name="religion" value="{{religion}}">
  </div>
  <div class="input-group mb-3 input-group">
     <label for="name">reletionShip </label>
    <input type="text" class="form-control mw-25" style="max-width: 60%;" id="name" name="relationship" value="{{relationship}}">
  </div>
  <button type="submit">save</button>
</form>
</div>