 <div class="container">
<div class="container">
    <form method="POST" action="/post">
    
    <div class="form-group" >
         <label for="name">what's on your mind ?</label>
         <textArea class="form-control" id="post" style="width: 550px;" name="text" required></textArea> 
    </div> 
    <button type="submit text-primary" class=" btn btn-primary">post</button>
 </form>
 </div>
 <div class="container news-feed">

 </div>
 </div>